// Example layout

.container {
  @extend %clearfix;
  max-width: $max-width;
  margin: auto;
  padding: 2.5em 0;
  background: #ececec;
}
.header {
  @include grid(48, 1);
  margin-bottom: $vertical-spacing;
  background: #ccc;
}
.content {
  @include grid(48, 1);
  margin-bottom: $vertical-spacing;
}
.main {
  @include grid(48, 0);
  margin-bottom: $vertical-spacing;
  background: #ccc;

  @include bp-ie(l) { @include grid(36, 0, 0.75); }
}
.aside {
  @include grid(48, 0);
  margin-bottom: $vertical-spacing;
  background: #ccc;

  @include bp-ie(l) { @include grid(12, 0.75, 0); }
}
.footer {
  @include grid(48, 1);
  background: #ccc;
}

.grid-nest {
  margin-bottom: -$vertical-spacing;
  @include bp-ie(m) { @include grid(48, -1); }
}
.grid-unit {
  margin-bottom: $vertical-spacing;
  padding: 1em;
  background: #999;

  @include bp-ie(m) {
    @include grid(16, 1);
    @include grid-inline-block();
  }
}

.style-guide {
  @extend %clearfix;
  max-width: $max-width;
  margin: auto;
  margin-bottom: $vertical-spacing;
  padding: emCalc(30, 10);

  @include bp-ie(xl) {
    padding: emCalc(0, 0);
  }
}