// ========== Mixins

// Breakpoint mixin
@mixin bp($breakpoint) {
 
  @if $breakpoint == s {
    @media only screen and ($breakpoint-property: $small-screen) { @content; }
  }
 
  @else if $breakpoint == m {
    @media only screen and ($breakpoint-property: $medium-screen) { @content; }
  }
 
  @else if $breakpoint == l {
    @media only screen and ($breakpoint-property: $large-screen) { @content; }    
  }
 
  @else if $breakpoint == xl {
    @media only screen and ($breakpoint-property: $xlarge-screen) { @content; }    
  }
 
}

// Breakpoint IE mixin
$old-ie: false !default;

@mixin bp-ie($breakpoint) {
 
  @include bp($breakpoint) { @content; }
  
  @if $old-ie {
    .oldie & { @content; }
  }
 
}
// Credit goes to: http://jakearchibald.github.io/sass-ie/
// Usage:
// nav.main-nav {
//   @include bp-ie(m) { float: right; }    
// }

// Grid mixins
// To layout nested elements use 'display:inline-block' instead of 'float:left'. This will force elements with varying heights to stack evenly. Read more: http://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block

// Using this technique adds an additional 4px of white space to the righ-hand side of each nested element. There are several fixes – choose your prefered technique: http://css-tricks.com/fighting-the-space-between-inline-block-elements
@mixin grid-inline-block {
	display: inline-block;
	float: none;
	vertical-align: top;
}

// Use this mixin to reset your grid by example for your mobile grid
@mixin grid-reset {
  clear: both;
  float: none;
  margin-left: 0;
  margin-right: 0;
  width: auto;
}

// Box-shadow
//  Example: .element { @include box-shadow(0, 4px, 0, rgba(0, 0, 0, 0.1), true); }
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

// Text shadow
// Example: .element { @include text-shadow(2px, 2px, 5px, #000); }
@mixin text-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4)) {
  text-shadow: $x $y $blur $color;
}

// Border-radius
// Example: .element { @include border-radius($border-radius); }
@mixin border-radius($radius) {
  border-radius: $radius;
  background-clip: padding-box;
}

// Transition
// Example: .element { @include transition(background 500ms ease-in); }
@mixin transition($transition) {
    -webkit-transition: $transition;
    transition: $transition;
}

// Columns
// Example: .element { @include columns(2, 1em)); }
@mixin columns($count, $gap) {
  -webkit-column-count: $count;
  -webkit-column-gap : $gap;
  -moz-column-count: $count;
  -moz-column-gap: $gap;
  column-count: $count;
  column-gap: $gap;
}

// Column rule
// Example: .element { @include column-rule(1px, solid, #000); }
@mixin columns-rule($size, $style, $color) {
  -webkit-column-rule-width: $size;
  -webkit-column-rule-style: $style;
  -webkit-column-rule-color: $color;
  -moz-column-rule-width: $size;
  -moz-column-rule-style: $style;
  -moz-column-rule-color: $color;
  column-rule-width: $size;
  column-rule-style: $style;
  column-rule-color: $color;
}

// Background colour RGBa w/ fallback
// Example: .element { @include background-opacity(#333, 0.5); }
@mixin background-opacity($color, $opacity: 0.3) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}