// ========== Placeholders

%clearfix {
  *zoom: 1;
  &:before, &:after { display: block; height: 0 !important; line-height: 0; overflow: hidden; visibility: hidden; content:"."; }
  &:after { clear: both; }
}

// These will throw a deprecation warning if used within a media query.
%lead {
  font-size: $paragraph-font-size + emCalc(3.5);
  line-height: 1.6;
}

%subheader {
  line-height: $subheader-line-height;
  color: $subheader-font-color;
  font-weight: $subheader-font-weight;
  margin-top: $subheader-top-margin;
  margin-bottom: $subheader-bottom-margin;
}

%max-width {
  max-width: emCalc($max-width);
}