// ========== Global styles

// Base

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	font-family: $body-font-family;
	font-size: $font-size;
  line-height: $line-height;
}

img {
	max-width: 100%;
}

// Temporary breakpoint hints
body:before {
  width: 100%;
  padding: 0.5em emCalc(15);
  position: fixed;
  bottom: 0;
  z-index: 9999;

  @include background-opacity(#f9f9f9, 0.9);
  // @include box-shadow(0px, -3px, 5px, rgba(0,0,0,0.05));
  border-top: #bbb 1px solid;
  color: #333;
  font-size: 14px;
  font-size: .875rem;

  content: "Below #{(strip-unit($small-screen) * $font-size)} (Small)";

  @include bp(s) {
    content: "Above #{(strip-unit($small-screen) * $font-size)} (Small)";
  }

  @include bp(m) {
    padding: 0.5em emCalc(20);
    content: "Above #{(strip-unit($medium-screen) * $font-size)} (Medium)";
  }

  @include bp(l) {
    content: "Above #{(strip-unit($large-screen) * $font-size)} (Large)";
  }

  @include bp(xl) {
    content: "Above #{(strip-unit($xlarge-screen) * $font-size)} (xLarge)";
  }
}