// ========== Settings

$font-size: 16px; 
$line-height: 1.6em;

// Choose the amount of columns, 48 is standard
$grid-columns: 48;

// Choose your maximum website width in pixels (The grid uses this value. Don't change to EMs)
$max-width: 1200px;

// Set up breakpoints - mobile-first or desktop-down
$breakpoint-property: min-width;
$small-screen: emCalc(590);
$medium-screen: emCalc(767);
$large-screen: emCalc(960);
$xlarge-screen: emCalc(1200);

// Global variables
$vertical-spacing: 1.25em; 
$border-radius: 0.25em;
$default-float: left;

// Colours
$main-colour: #0e8a41;
$success-colour: #679b23;
$alert-colour: #d65223;
$black: #121313;
$gray: #808585;
$white: #fff;

// Prototype colours
$proto-dark: #d9d8d6;
$proto-med: #e7e7e5;
$proto-light: #f5f5f3;

// Form colours
$input-border: #b7b7b7;
$input-focus-shadow: #ccc;

// Control whether or not CSS classes come through in the CSS files.
$include-html-classes: true;
$include-print-styles: true;

// ========== Typography Variables
$body-bg: #fff;
$body-font-color: #222;
$body-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-weight: normal;
$body-font-style: normal;

// Font-smoothing
$font-smoothing: antialiased;

// Header font styles
$header-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-weight: bold;
$header-font-style: normal;
$header-font-color: #222;
$header-line-height: 1.4;
$header-top-margin: .2em;
$header-bottom-margin: .5em;
$header-text-rendering: optimizeLegibility;

// Header font sizes
$h1-font-size: emCalc(44);
$h2-font-size: emCalc(37);
$h3-font-size: emCalc(27);
$h4-font-size: emCalc(23);
$h5-font-size: emCalc(18);
$h6-font-size: 1em;

// Subheader styles
$subheader-line-height: 1.4;
$subheader-font-color: lighten($header-font-color, 30%);
$subheader-font-weight: 300;
$subheader-top-margin: .2em;
$subheader-bottom-margin: .5em;

// <small> styles
$small-font-size: 60%;
$small-font-color: lighten($header-font-color, 30%);

// Paragraphs styles
$paragraph-font-family: inherit;
$paragraph-font-weight: normal;
$paragraph-font-size: 1em;
$paragraph-line-height: 1.6;
$paragraph-margin-bottom: emCalc(20);
$paragraph-aside-font-size: emCalc(14);
$paragraph-aside-line-height: 1.35;
$paragraph-aside-font-style: italic;
$paragraph-text-rendering: optimizeLegibility;

// <code> tags styles
$code-color: darken($alert-colour, 15%);
$code-font-family: Consolas, 'Liberation Mono', Courier, monospace;
$code-font-weight: bold;

// Anchor styles
$anchor-text-decoration: none;
$anchor-font-color: $main-colour;
$anchor-font-color-hover: darken($main-colour, 5%);

// <hr> styles
$hr-border-width: 1px;
$hr-border-style: solid;
$hr-border-color: #ddd;
$hr-margin: emCalc(20);

// List styles
$list-style-position: inside;
$list-side-margin: 0;
$list-nested-margin: emCalc(20);
$definition-list-header-weight: bold;
$definition-list-header-margin-bottom: .3em;
$definition-list-margin-bottom: emCalc(12);

// Blockquotes styles
$blockquote-font-color: lighten($header-font-color, 30%);
$blockquote-padding: emCalc(9, 20, 0, 19);
$blockquote-border: 1px solid #ddd;
$blockquote-cite-font-size: emCalc(13);
$blockquote-cite-font-color: lighten($header-font-color, 20%);
$blockquote-cite-link-color: $blockquote-cite-font-color;

// Acronym styles
$acronym-underline: 1px dotted #ddd;

// Cursors
$cursor-crosshair-value: "crosshair";
$cursor-default-value: "default";
$cursor-pointer-value: "pointer";
$cursor-help-value: "help";

// Microformat padding and margin
$microformat-padding: emCalc(10, 12);
$microformat-margin: emCalc(0, 0, 20, 0);

// Microformat border styles
$microformat-border-width: 1px;
$microformat-border-style: solid;
$microformat-border-color: #ddd;

// Microformat full name font styles
$microformat-fullname-font-weight: bold;
$microformat-fullname-font-size: emCalc(15);

// Microformat summary font styles
$microformat-summary-font-weight: bold;

// Microformat abbr padding
$microformat-abbr-padding: emCalc(0, 1);

// Microformat abbr font styles
$microformat-abbr-font-weight: bold;
$microformat-abbr-font-decoration: none;