// ========== Forms


form, fieldset {
  margin-bottom: $vertical-spacing;
}

legend, label {
  display: block;
  font-weight: normal;
  padding: 0;
  margin-bottom: emCalc(5);
}

input, textarea, select {
  display: block;
  width: 100%;
  font: inherit;
  line-height: 1.470588235;
  color: $body-font-color;
  vertical-align: middle;
  margin-bottom: $vertical-spacing;
  padding: emCalc(5);
  border: emCalc(1) solid $input-border;
  border-radius: $border-radius;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

form button, form .btn {
  margin-bottom: $vertical-spacing;
}

textarea {
  height: 12em;
}

input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 0;
  margin-bottom: .294117647em;
  cursor: pointer;
}

input:focus,
textarea:focus {
  border-color: darken($input-border, 10%);
  -webkit-box-shadow: inset 0 .071428571em .071428571em rgba(0, 0, 0, 0.075), 0 0 .470588235em $input-focus-shadow;
          box-shadow: inset 0 .071428571em .071428571em rgba(0, 0, 0, 0.075), 0 0 .470588235em $input-focus-shadow;
  outline: 0;
  outline: thin dotted \9; // ie6-9
}

input[type="file"]:focus,
input[type="checkbox"]:focus,
select:focus {
  outline: thin dotted;
  outline: .294117647em auto -webkit-focus-ring-color;
  outline-offset: -.117647059em;
}


// Inline inputs
.input-inline {
  display: inline;
  width: auto;
}


// Condensed inputs
.input-condensed {
  line-height: 1;
  padding: .117647059em;
}


@media (min-width: 40em) {
  input, textarea, select {
    line-height: 1.588235294;
  }
}